In [1]:
%pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

movies = pd.read_csv('top10K-TMDB-movies.csv') 
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [3]:
# movies.head()
column_names = movies.columns
print(column_names)

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [4]:
# selecting relevant features for content-based filtering dataset
selected_columns = ['id', 'title', 'overview', 'genre']
selected_movies = movies[selected_columns]
selected_movies.head(10)

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
5,667257,Impossible Things,"Matilde is a woman who, after the death of her...","Family,Drama"
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...","Animation,Family,Fantasy"
7,730154,Your Eyes Tell,"A tragic accident lead to Kaori's blindness, b...","Romance,Drama"
8,372754,Dou kyu sei â€“ Classmates,"Rihito Sajo, an honor student with a perfect s...","Romance,Animation"
9,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,"Romance,Animation,Drama"

In [5]:
selected_movies.loc[:, 'features'] = selected_movies['overview'] + selected_movies['genre']
selected_movies.head()

/tmp/ipykernel_6810/4067398446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_movies.loc[:, 'features'] = selected_movies['overview'] + selected_movies['genre']

,id,title,overview,genre,features
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [6]:
if 'overview' in selected_movies.columns and 'genre' in selected_movies.columns:
    selected_movies.drop(['overview', 'genre'], axis=1, inplace=True)

/tmp/ipykernel_6810/145701286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_movies.drop(['overview', 'genre'], axis=1, inplace=True)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [9]:
selected_movies['features'].fillna('', inplace=True)
vectorized_features = cv.fit_transform(selected_movies['features']).toarray()

/tmp/ipykernel_6810/3895059399.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  selected_movies['features'].fillna('', inplace=True)
/tmp/ipykernel_6810/3895059399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_movies['features'].fillna('', inplace=True)

In [10]:
# Assuming new_data is defined and contains the necessary data
print(new_data.iloc[i[0]].title)

NameError: name 'new_data' is not defined

In [ ]:
similarity_matrix = ...
similarities = similarity_matrix[0]
most_similar_movies = similarities.argsort()[::-1]

TypeError: 'ellipsis' object is not subscriptable

In [ ]:
# Assuming you have two vectors named vector1 and vector2
vector1 = ...
vector2 = ...
similarity = cosine_similarity(vector1.reshape(1, -1), vector2.reshape(1, -1))

In [ ]:
%pip install nltk
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import string

# Download necessary resources
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Initialize stemmer and lemmatizer
text = "Sample text"  # Define the variable 'text'

stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

# Lowercase the text
lowercased_text = text.lower()

# Remove punctuation
no_punctuation_text = lowercased_text.translate(str.maketrans('', '', string.punctuation))

# Tokenize the text into words
words = nltk.word_tokenize(no_punctuation_text)

# Remove stopwords
stopwords = set(stopwords.words('english'))
filtered_words = [word for word in words if word not in stopwords]

# Apply stemming
stemmed_words = [stemmer.stem(word) for word in filtered_words]

# Apply lemmatization
lemmatized_words = [lemmatizer.lemmatize(word) for word in stemmed_words]

# Join the cleaned words back into a single string
cleaned_text = ' '.join(lemmatized_words)

Requirement already satisfied: nltk in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.10/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (2024.4.16)
Requirement already satisfied: tqdm in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (4.66.2)
Note: you may need to restart the kernel to use updated packages.

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Create an instance of CountVectorizer
vectorizer = CountVectorizer()

# Apply CountVectorizer to your cleaned text
vectorized_text = vectorizer.fit_transform([cleaned_text])

# Print the feature names and the corresponding counts
# Assuming 'vectorizer' is your CountVectorizer object and it has been fitted
print(vectorizer.get_feature_names_out())
print(vectorized_text.toarray())

['sampl' 'text']
[[1 1]]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer