In [1]:
import pandas as pd

In [2]:
%pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

movie = pd.read_csv('top10K-TMDB-movies.csv') 
movie.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [4]:
movie.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [5]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [6]:
movie.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [7]:
movie.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
new_data = movie.loc[:, ['id', 'title', 'overview', 'genre']]

In [9]:
movie['tags'] = movie['overview'] + movie['genre']
print(movie.columns)

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count', 'tags'],
      dtype='object')

In [10]:
movie = movie.drop(columns=['overview', 'genre'])
print(movie.columns)

Index(['id', 'title', 'original_language', 'popularity', 'release_date',
       'vote_average', 'vote_count', 'tags'],
      dtype='object')

In [11]:
%pip install nltk

Requirement already satisfied: nltk in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.10/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (2024.4.28)
Requirement already satisfied: tqdm in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nltk) (4.66.2)

Note: you may need to restart the kernel to use updated packages.

In [12]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

In [13]:
import nltk

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

def clean_text(text):
    # Return an empty string if text is not a string
    if not isinstance(text, str):
        return ""
    # Convert text to lowercase
    text = text.lower()
    # Remove punctuation while retaining words and digits
    text = re.sub(r'[^\\w\\s\\d]', '', text)
    # Tokenize the text into words
    words = word_tokenize(text)
    # Define English stopwords
    stop_words = set(stopwords.words('english'))
    # Remove stopwords from the tokenized words
    words = [word for word in words if word not in stop_words]
    # Initialize the WordNet lemmatizer
    lemmatizer = WordNetLemmatizer()
    # Lemmatize each word
    words = [lemmatizer.lemmatize(word) for word in words]
    # Join the words back into a single string
    text = ' '.join(words)
    return text

In [15]:
movie['tags_clean'] = movie['tags'].apply(clean_text)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
train_data, test_data = train_test_split(movie, test_size=0.2, random_state=42)

# data: the dataset you want to split
# test_size: the proportion of the dataset to include in the test set (e.g., 0.2 for 20%)
# random_state: the seed used by the random number generator for reproducibility

# Print the shapes of the training and test sets
print("Training set shape:", train_data.shape)
print("Test set shape:", test_data.shape)

Training set shape: (8000, 9)
Test set shape: (2000, 9)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=10000, stop_words='english')

In [21]:
vector = vectorizer.fit_transform(movie['tags_clean'].values.astype('U')).toarray()

In [22]:
print(vector.shape)

(10000, 9950)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

In [25]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   original_language  10000 non-null  object
 3   popularity         10000 non-null  float64
 4   release_date       10000 non-null  object
 5   vote_average       10000 non-null  float64
 6   vote_count         10000 non-null  int64
 7   tags               9985 non-null   object
 8   tags_clean         10000 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [26]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Get the index of the third movie
movie_index = 2

# Calculate the similarity scores
similarity_scores = cosine_similarity(vector[movie_index].reshape(1, -1), vector)

# Sort the similarity scores in descending order
sorted_scores_indices = np.argsort(similarity_scores)[0][::-1]

# Store the sorted similarity scores
sorted_scores = similarity_scores[0][sorted_scores_indices]

In [27]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector: vector[1])

In [28]:
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Shawshank Redemption
Dilwale Dulhania Le Jayenge
Schindler's List
The Godfather: Part II

In [29]:
def recommend_similar_movies(movie_title):
    # Get the index of the given movie title
    movie_index = movie[movie['title'] == movie_title].index[0]
    
    # Calculate the similarity scores
    similarity_scores = cosine_similarity(vector[movie_index].reshape(1, -1), vector)
    
    # Sort the similarity scores in descending order
    sorted_scores_indices = np.argsort(similarity_scores)[0][::-1]
    
    # Get the top 5 similar movie indices
    top_5_indices = sorted_scores_indices[1:6]
    
    # Get the titles of the top 5 similar movies
    top_5_movies = movie.loc[top_5_indices, 'title'].values
    
    return top_5_movies

In [30]:
recommend_similar_movies("Iron Man")

array(['Domino', 'The Sun Is Also a Star', 'Stronger',
       'Pokémon the Movie: I Choose You!', 'Us'], dtype=object)

In [31]:
import pickle

In [32]:
import pickle

# Serialize the DataFrame
serialized_data = pickle.dumps(movie)

# Save the serialized data to a file
with open('new_data.pkl', 'wb') as file:
    file.write(serialized_data)

In [33]:
import pickle

# Load the serialized object from the file
with open('new_data.pkl', 'rb') as file:
    movies_list = pickle.load(file)

In [34]:
import os


print(os.getcwd())

/workspaces/Movie-Recommender